{{!-- <h1>oi</h1>
{{#data}}
    <label for="">Nome da Cidade: {{cidade}}</label>
    <label for="">País: {{pais}}</label>
    <label for="">Temperatura: {{temperatura}}</label>
    <label for="">Umidade: {{umidade}}</label>
    <label for="">Clima principal: {{climaPrincipal}}</label>
    <label for="">Descrição do clima: {{climaDesc}}</label>
{{/data}} --}}

{{!-- <h1>Temperatura Aqui</h1> --}}
<div class="container main">
    <div class="col-md-6 historico">
        <h2>historico</h2>
        <p>Anim ipsum sunt eu velit. Commodo eu ullamco enim amet consequat culpa anim. Dolor veniam eiusmod irure proident esse deserunt. Aliqua non laborum ad aliquip excepteur duis. Eiusmod culpa cupidatat deserunt sit laboris Lorem do minim eiusmod occaecat nostrud adipisicing. Eiusmod incididunt irure commodo qui.

Commodo pariatur dolor fugiat reprehenderit irure. Laboris sit excepteur commodo mollit labore qui officia officia est in duis officia adipisicing. Sint non minim eu veniam laborum. Proident voluptate minim reprehenderit dolore pariatur cupidatat fugiat consectetur amet culpa elit in.

Esse magna eu pariatur laboris sunt aute do ut aliqua reprehenderit velit fugiat aliquip. Ipsum quis do adipisicing occaecat ex pariatur nostrud velit non laborum tempor nulla proident. Consequat adipisicing proident ullamco ad consectetur Lorem eiusmod aute irure amet nisi qui. Esse ullamco Lorem qui cillum. Tempor nulla nisi reprehenderit exercitation. Officia elit proident aute aliqua labore excepteur laboris.</p>
    </div>
    <div class="col-md-6 busca">
        {{!-- <h2>busca</h2> --}}
        <div id="divBuscaCidade">
            <form action="/" method="post">
                <div id="divLabelBusca" class="divCidade">
                <h3 style="text-align: center;">Saiba mais sobre o clima de várias cidades</h3>
                </div>
                <div id="divInputBusca" class="divCidade">
                    <input id="inputBusca" type="text" placeholder="Nome da cidade" name="cityName">
                    <button id="btnInputBusca" type="submit">Buscar</button>
                </div>
                <div id="dadosClima">
                    {{#data}}
                        <label for="">Nome da Cidade: {{cidade}}</label><br>
                        <label for="">País: {{pais}}</label><br>
                        <label for="">Temperatura: {{temperatura}}</label><br>
                        <label for="">Umidade: {{umidade}}</label><br>
                        <label for="">Clima principal: {{climaPrincipal}}</label><br>
                        <label for="">Descrição do clima: {{climaDesc}}</label><br>
                    {{/data}}
                </div>
            </form>
        </div>
    </div>
</div>