<h1>oi</h1>
{{#data}}
    <label for="">Nome da Cidade: {{dados.cidade}}</label>
    <label for="">País: {{dados.cidade}}</label>
    <label for="">Temperatura: {{dados.temperatura}}</label>
    <label for="">Umidade: {{dados.umidade}}</label>
    <label for="">Clima principal: {{dados.climaPrincipal}}</label>
    <label for="">Descrição do clima: {{dados.climaDesc}}</label>
{{/data}}