{{!-- <h1>oi</h1>
{{#data}}
    <label for="">Nome da Cidade: {{cidade}}</label>
    <label for="">País: {{pais}}</label>
    <label for="">Temperatura: {{temperatura}}</label>
    <label for="">Umidade: {{umidade}}</label>
    <label for="">Clima principal: {{climaPrincipal}}</label>
    <label for="">Descrição do clima: {{climaDesc}}</label>
{{/data}} --}}

{{!-- <h1>Temperatura Aqui</h1> --}}
<div class="container main">
    <div class="col-md-6 historico">
        <h2>historico</h2>
        {{#data}}
        <label for="">{{dados.cidade}}</label>
        {{/data}}
    </div>
    <div class="col-md-6 busca">
        {{!-- <h2>busca</h2> --}}
        <div id="divBuscaCidade">
            <form action="/" method="post">
                <div id="divLabelBusca" class="divCidade">
                <h3 style="text-align: center;">Saiba mais sobre o clima de várias cidades</h3>
                </div>
                <div id="divInputBusca" class="divCidade">
                    <input id="inputBusca" type="text" placeholder="Nome da cidade" name="cityName">
                    <button id="btnInputBusca" type="submit">Buscar</button>
                </div>
                <div id="dadosClima">
                    {{#if data.encontrada}}
                        {{#data}}
                            <div>
                                <h4 style="text-align: center;">{{nome}}</h4>
                            </div>
                            <div class="cityData">
                                <label class="atributo" for="">País: </label><br>
                                <label for="">{{pais}}</label><br>
                            </div>
                            <div class="cityData">
                                <label class="atributo" for="">Temperatura: </label><br>
                                <label for="">{{temperatura}} °C</label><br>
                            </div>
                            <div class="cityData">
                                <label class="atributo" for="">Umidade: </label><br>
                                <label for="">{{umidade}}%</label><br>
                            </div>
                            <div class="cityData">
                                <label class="atributo" for="">Descrição do clima: </label><br>
                                <label for="">{{climadescricao}}</label><br>
                            </div>
                        {{/data}}
                    {{else}}
                        <small for="">*Por favor, informe corretamente o nome da cidade</small>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>