{{!-- <h1>oi</h1>
{{#data}}
    <label for="">Nome da Cidade: {{cidade}}</label>
    <label for="">País: {{pais}}</label>
    <label for="">Temperatura: {{temperatura}}</label>
    <label for="">Umidade: {{umidade}}</label>
    <label for="">Clima principal: {{climaPrincipal}}</label>
    <label for="">Descrição do clima: {{climaDesc}}</label>
{{/data}} --}}

<h1>Temperatura Aqui</h1>
<div class="container-lg d-flex">
    <div class="col-md-5 historico">
        <h2>historico</h2>
    </div>
    <div class="col-md-5 busca">
        <h2>busca</h2>
    </div>
</div>